.search-bar {
    border:1px solid lightcyan;
    border-radius: 5px;
    padding: 10px;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

.search-bar button{
    display: block;
    width: 5%;
    text-align: center;
    align-self: center;
}